name: Deploy Backend

on:
  push:
    branches: [ "main" ]
    paths:
      - 'backend/**'
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment'
        required: true
        default: 'dev'
        type: choice
        options:
        - dev
        - stage
        - prod

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set Environment for Push
      if: github.event_name == 'push'
      run: echo "ENVIRONMENT=dev" >> $GITHUB_ENV

    - name: Set Environment for Dispatch
      if: github.event_name == 'workflow_dispatch'
      run: echo "ENVIRONMENT=${{ inputs.environment }}" >> $GITHUB_ENV
    
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build and push Docker image
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: hcl-project-backend-${{ env.ENVIRONMENT }}
        IMAGE_TAG: latest
      working-directory: ./backend
      run: |
        docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG

    - name: Update Lambda Code
      run: |
        aws lambda update-function-code --function-name hcl-project-api-${{ env.ENVIRONMENT }} --image-uri ${{ steps.login-ecr.outputs.registry }}/hcl-project-backend-${{ env.ENVIRONMENT }}:latest
