name: Infrastructure Layer 1 (Network, ECR, EC2)

on:
  workflow_dispatch:
    inputs:
      action:
        description: 'Action to perform (apply/destroy)'
        required: true
        default: 'apply'
        type: choice
        options:
        - apply
        - destroy
      environment:
        description: 'Environment'
        required: true
        default: 'dev'
        type: choice
        options:
        - dev
        - stage
        - prod

jobs:
  terraform:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
    - uses: actions/checkout@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2

    - name: Terraform Init
      working-directory: ./infrastructure/layer1/${{ inputs.environment }}
      run: terraform init

    - name: Terraform Apply
      if: ${{ inputs.action == 'apply' }}
      working-directory: ./infrastructure/layer1/${{ inputs.environment }}
      run: terraform apply -auto-approve

    - name: Terraform Destroy
      if: ${{ inputs.action == 'destroy' }}
      working-directory: ./infrastructure/layer1/${{ inputs.environment }}
      run: terraform destroy -auto-approve
